/*Import the font-family Manrope*/

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card{
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;

}